<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Home</title>
    <link rel="stylesheet" href="/styles/style.css">

</head>
<body>
    <div id="wrapper">
      <%- include('../partials/header') %>
    <h1>Welcome to my Blog page!</h1>

    
    <ul>
       <% blogPost.forEach((post) => { %>
        <li>
            <a href="/pages/<%= post.id %>"><%= post.title %></a>
        </li>
       <% }); %>
    </ul>
    

    <!-- footer -->
    <%- include('../partials/footer') %>
    </div>
    <!-- nav bar -->
    
</body>
</html>